@model ShoppingCart

<form method="post">
    <input hidden asp-for="DishId" />
    <div class="card shadow mt-4 mb-4">
        <div class="card-header custom-core-bg-color py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white">@Model.Dish.Name</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 pb-1">
                        <a asp-action="Index" class="btn custom-btn-black bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 text-center mb-3 p-lg-5" style="border-right: solid 1px;">
                        <img src="@Model.Dish.ImageUrl" width="100%" alt="Image of @Model.Dish.Name" class="rounded" />
                    </div>

                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="row">
                            <div class="col-3 bg-white fw-bold">
                                <div>Description</div>
                            </div>
                        </div>

                        <div class="row pl-2 my-3 mt-1">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Dish.Description)</p>
                        </div>
                       
                        <div class="row">
                            <div class="col-3 col-lg-2 bg-white fw-bold">
                                <div>Price</div>
                            </div>

                            <div class="pb-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Dish.Price.ToString("c")</div>
                            </div>
                        </div>

                        
                        <div class="row pl-2 mb-3 mt-2">
                            <div class="col-md-4" style="padding-left: 0px;">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-black-50 border-0 fw-semibold" style="background: white;"
                                          id="inputGroup-sizing-default">
                                        Qty
                                    </span>
                                    <input asp-for="Count" type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn custom-btn-pumpkin bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
